<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Erfassung </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Erfassung</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="full">
    <form [formGroup]="appointmentForm" (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-label>Number</ion-label>
        <ion-input formControlName="number" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">DD.MM.YYYY</ion-label>
        <ion-datetime
          formControlName="date"
          displayFormat="DD.MM.YYYY"
        ></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Fahrzeit Start</ion-label>
        <ion-datetime
          formControlName="travelTimeStart"
          displayFormat="HH:mm"
        ></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Fahrzeit Ende</ion-label>
        <ion-datetime
          formControlName="travelTimeEnd"
          displayFormat="HH:mm"
        ></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Arbeitszeit Start</ion-label>
        <ion-datetime
          formControlName="workTimeStart"
          displayFormat="HH:mm"
        ></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Arbeitszeit Ende</ion-label>
        <ion-datetime
          formControlName="workTimeEnd"
          displayFormat="HH:mm"
        ></ion-datetime>
      </ion-item>

      <!-- Buttons -->
      <ion-button (click)="startTravelTime()">
        <ion-icon slot="start" name="car-outline"></ion-icon>
        Starte Fahrzeit
      </ion-button>

      <ion-button (click)="startWorkTime()">
        Starte Arbeitszeit
        <ion-icon slot="end" name="construct-outline"></ion-icon>
      </ion-button>

      <ion-button type="submit" [disabled]="!appointmentForm.valid">
        <ion-icon slot="start" name="car-outline"></ion-icon>
        Done
        <ion-icon slot="end" name="checkmark-outline"></ion-icon>
      </ion-button>
    </form>
  </ion-list>
</ion-content>
